---
layout: layouts/base.njk
pagination:
  data: election.contests
  size: 1
  alias: contest
permalink: "contests/{{ contest.id }}/index.html"
eleventyComputed:
  title: "{{ contest.office }} — {{ contest.electoralArea.canonicalName }} | Winnipeg Election 2026"
  description: "Candidates for the {{ contest.office }} Contest in {{ contest.electoralArea.canonicalName }}."
contestPage: true
---
{% from "macros/candidate-information.njk" import candidateInformation %}
<article class="contest-page">
  <header class="intro">
    <p class="eyebrow">{{ contest.office }} Contest</p>
    <h1>{{ contest.electoralArea.canonicalName }}</h1>
  </header>

  <p class="contest-number-to-elect"><strong>Number to Elect:</strong> {{ contest.numberToElect }}</p>

  {{ candidateInformation(contest) }}
</article>
